.clearance{
    border:  2px solid rgb(145, 23, 43);
    background: rgb(236, 202, 207);
}

.td{
    vertical-align: middle;
}

.btn{
    float: left;
    box-shadow:1px 1px 1px 4px rgb(136, 82, 236);
    margin: 6px;
}